.container-shell {
    width: 70%;
    margin-top: 80px;
    margin-left: 5%;
    margin-right: 5%;
    height: 80vh;
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 8px;
  }